.smartphoneCont {
  display: inline-block;
  width: 512px;
  height: 786px;
  border-radius: 12px;
  background: #fff;
  margin-right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
