.body {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.desktop {
  display: none;
  position: relative;
  text-align: left;
}

.user_img {
  width: 98px;
  height: 98px;
  position: absolute;
  top: 142px;
  left: 206px;
  border-radius: 96px;
  border: 2px solid var(--purple, #633cff);
  background: lightgray 50% / cover no-repeat, #eee;
}

.user_names {
  position: absolute;
  max-width: 100%;
  width: 100%;
  /* overflow-x: hidden; */
  top: 258px;
  right: 11px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-align: center;
}

.user_email_container {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 274px;
  right: 7px;
  text-align: center;
}

.user_text_info {
  display: flex;
  flex-direction: column;
}

.mobile_content .user_firstname {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.mobile_content .user_lastname {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.mobile_content .user_email {
  color: #737373;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.main {
  padding: 24px;
  background-color: white;
  border-radius: 12px;
}

.text_content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}

.content {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 40px;
    width: 720px;
  }
  .body {
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .body {
    width: 1392px;
    margin: auto;
  }
  .desktop {
    display: flex;
  }
  .main {
    width: 808px;
  }
  .title {
    font-size: 32px;
  }
}
