.header {
  padding: 16px 24px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  align-items: center;
}

.back_to_editor_btn,
.share_link_btn {
  padding: 11px 27px;
  border-radius: 8px;
  align-items: center;
  text-align: center;
}

.back_to_editor_btn {
  border: 1px solid #633cff;
  color: #633cff;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.share_link_btn {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  background-color: #633cff;
  border: 1px solid #633cff;
}
