@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600;700&display=swap");

.preview_container {
  width: 100vw;
  min-height: 100vh;
  font-family: "Instrument Sans", sans-serif;
}
